body, html {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    color:  #000000;
}

header {
    background-color: #FF0000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header-top {
    color: white;
    display: flex;
}

.header-top ul {
    list-style-type: none;
    display: flex;
    padding: 3px;
}

.header-top a {
    text-decoration: none;
    color: white;
    padding: 3px;
    justify-content: center;
}

.header-top li a:hover {
    color:  #000000;
}

.header-top a li:hover {
    color:  #000000;
}

.header-bottom ul {
    display: flex;
    list-style-type: none;
}

.header-bottom ul li {
    padding: 0;
}

.header-bottom ul li a {
    padding: 0;
    color: white;
    text-align: center;
    background: #787878;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    line-height: 30px;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.header-bottom ul li a i {
    vertical-align: middle;
}

.linkedIn:hover {
    background-color: #FF0000;
}

.twitter:hover {
    background-color: #1da1f2;
}

.pinterest:hover {
    background-color: #bd081c;
}

.googleplus:hover {
    background-color: #db4437;
}

.rss:hover {
    background-color: #ee802f;
}

/* ==================================1=========================================*/

/************************************2*******************************************/

.main-top li:hover, .main-top li.active {
    border-bottom: 3px solid #003d17;
}

.main-top {
    padding-top: 0;
}

.main-top ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.main-top ul a {
    margin: 8px 0;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.main-top ul li {
    margin-right: 25px;
    font-size: 15px;
}

.main-top ul li.active a {
    opacity: 0.5;
}

.main-top ul a li:hover {
    color: #9f9f9f;
    transition: 0.4s ease;
}

.main-top .dropdown_menu {
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid #e7edf0;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    -webkit-transition: all .25s;
    transition: all .25s;
    display: inline-block;
    opacity: 0;
    max-width: 170px;
    transform: translateY(20px);
    visibility: hidden;
}

.main-top .dropdown_menu li {
    display: inline-block;
    width: 100%;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.main-top .dropdown_menu li:hover, .main-top .dropdown_menu li.active {
    border-bottom: 0;
    background-color: whitesmoke;
}

.main-top .dropdown_menu li a {
    margin: 0;
    padding: 6px 8px;
    width: 100%;
    float: left;
    font-size: 14px;
}

.dropdown:hover .dropdown_menu {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown div {
    display: none;
}

.dropdown:hover div {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown div a {
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: 30px;
    padding-top: 2px;
    padding-left: 2px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.dropdown div a:hover {
    background-color: #003d17;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

/*===================================2==================================*/
.maintop1 {
    display: flex;
    justify-content: space-between;
}

#logo {
    color:#000000;
    margin-bottom: 0;
}

.maintop3 {
    padding-top: 50px;
}

.maintop2 p {
    margin-top: 0;
    color:  #000000;
}

.input1 {
    padding: 7px;
    border-radius: 5px;
    color: #2c3e50;
    outline: none;
    min-width: 140px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input2:hover {
    background-color:   #000000;
}

input[type="submit"] {
    cursor: pointer;
}

.input1:focus {
    border: 1px solid grey;
    min-width: 200px;
}

.input1::placeholder {
    font-size: 14px;
}

.input2 {
    border: none;
    background-color: #003d17;
    padding: 7px;
    border-radius: 5px;
    color: white;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
body, html {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #F08080;
    color: white;
    border-top: 4px solid #000000;
}

.footer {
    display: flex;
    padding-bottom: 30px;
}

.name {
    background-color: #FFDAB9;
    color: #989898;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 13px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.email {
    background-color: #FFDAB9;
    color: #989898;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 13px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.subject {
    background-color: #FFDAB9;
    color: #989898;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 13px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.message {
    background-color: #FFDAB9;
    color: #989898;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 13px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.name:hover {
    transform: scale(1.03);
    color: #8e44ad;
}

.email:hover {
    transform: scale(1.03);
    color: #8e44ad;
}

.subject:hover {
    transform: scale(1.03);
    color: #8e44ad;
}

.message:hover {
    transform: scale(1.03);
    color: #8e44ad;
}

.submit {
    border: none;
    background-color:  #800000;
    color: #ffffff;
    border-radius: 7px;
    width: 78px;
    height: 31px;
    margin-left: 5px;
    margin-bottom: 12px;
}

.footer-right {
    display: flex;
    text-align: center;
}

.footer-left {
    display: flex;
    text-align: center;

}

.widthi {
    width: 25%;
    margin: 9px;
}

.copy {
    border-top: 3px solid #2d2d2d;
    padding: 3px;
    color: #666666;
    background-color: #222222;
}

.blogpost {
    color: #666666;
}

.position {
    color: white;
    display: flex;
    justify-content: space-between;
}

.admin {
    margin-top: 0;
}

.position h3 {
    margin-bottom: 0;
}

/*------------------------------------------------------*/

.row1 {
    text-align: center;
}

.row1 h1 {
    font-size: 1.3em;
    margin-bottom: 3px;
}

.row1 h3 {
    font-size: 1.2em;
    margin-top: 0px;
    margin-left: -100px;
}

.contactus {
    display: flex;
    justify-content: space-between;
    font-family: 'Niramit', sans-serif;
    align-items: center;
    font-size: 1em;
    color: #596c6e;
    padding: 10px 10px 10px 24px;
    border-left: 14px solid #003d17;
    background-color: #9CB371;
    height: 120px;
    max-width: 1150px;
    margin: 50px 0 28px 28px;
}

.button {
    padding-top: 0;
    float: right;
    background-color: #800000;
    border-radius: 8px;
    vertical-align: center;
    width: 279px;
    height: 58px;
    outline: none;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Sorts Mill Goudy', serif;
    padding-top: 3px;
}

/*
 About Us -- Section
=======================
*/

.small-banner {
    display: inline-block;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.about-us-banner {
    background-image: url("../Images/fiek.jpg");
}

.introduction-banner {
    background-image: url("../Images/fiek.jpg");
}

.small-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.small-banner h4 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 9;
    font-weight: 400;
}

.our-commitment {
    padding: 25px 0;
}

.grey-background {
    background-color: whitesmoke;
}

.section-padding {
    padding: 30px 0;
}

.main-title {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    color: #424949;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.main-title:after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #003d17;
    display: block;
    margin: 4px auto 0 auto;
}

.our-team-section {
    padding: 30px 0;
}

.member-info h4 {
    color: #515A5A;
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 12px;
}

.member-info .position {
    color: #7F8C8D;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.our-team {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.our-team .team-member {
    display: inline-block;
    margin-right: 30px;
}

.our-team .team-member:last-child {
    margin-right: 0;
}

.member-image {
    width: 160px;
}

.member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.about-us-p {
    margin: 0;
    color: #7F8C8D;
}

.aboutus {
    padding: 20px;
    border: none;
    margin-left: 0;
    margin-bottom: 12px;
    background-color: #F08080;
    color: #666666;
}

.about-description p {
    color: #7F8C8D;
    margin-top: 3px;
    font-size: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.about-description h3 {
    margin-bottom: 5px;
    color: #515A5A;
}

.about-description .m2 {
    margin-bottom: 50px;
}

/*
 Special Offer-- Section
=======================
*/
.special-offer-banner {
    background-image: url("../Images/fiek.png");
}

.sales-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.sales-products img {
    max-width: 100%;
}

.our-offer .main-title {
    margin-bottom: 0;
}

.our-offer .description-item {
    margin-bottom: 40px;
}

.product-content {
    text-align: left;
}

.product-name {
    margin-top: 10px;
}

.now-price {
    margin: 9px 0 5px 0;
    font-size: 16px;
    font-weight: 600;
}

.before-price {
    margin: 4px 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: grey;
}

.product-content button {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}

.product-content .top-badge {
    font-size: 14px;
    background: antiquewhite;
    padding: 2px 6px;
    text-transform: lowercase;
    border-radius: 5px;
}

.btn-element {
    background-color: #800000;
    padding: 6px 14px;
    color: white;
    border-radius: 8px;
    outline: none;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.btn-element:hover {
    background-color: #9CB371;
}

/*
Partners -- Introduction
=======================
*/

.partners-banner {
    background-image: url("../Images/fiek.png");
}

.partners-list li {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 100px;
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.partners-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding: 0;
    margin-top: 60px;
}

.partners-list li:nth-child(5n) {
    border-right: 0;
}

.partners-list li:nth-last-of-type(-n+5) {
    border-bottom: 0;
}

.partners-list li .image-wrapper {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
}

.partners-list li .image-wrapper img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: ease-out all 0.4s;
    -o-transition: ease-out all 0.4s;
    transition: ease-out all 0.4s;
    opacity: 0.55;
    max-width: 75%;
    max-height: 70px;
    height: auto;
    width: auto;
    cursor: pointer;
}

.partners-list li:hover .image-wrapper img {
    opacity: 1;
    cursor: auto;
    filter: none;
    -webkit-filter: grayscale(0%);
}

/*
Our Mission -- Introduction
=======================
*/

.service-item {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
}

.our-services .service-image {
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    border: 3px solid #F08080;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.our-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 58px;
    margin-top: 50px;
}

.why-us .desc {
    max-width: 75%;
    margin: auto;
}

.our-services .service-content {
    padding-left: 20px;
    text-align: left;
    float: left;
    width: calc(100% - 76px);
}

.our-services .service-content h4 {
    margin: 0 0 5px 0;
}

.our-services .service-content p {
    color: #7F8C8D;
    margin-top: 3px;
    font-size: 15px;
}


.our-services .service-image img {
    height: auto;
    max-width: 60%;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

.our-mission .left-image, .our-mission .right-description {
    float: left;
    width: 50%;
}

.our-mission .left-image img {
    max-width: 100%;
    height: auto;
}

.our-mission .right-description {
    margin-top: 50px;
}

.our-mission .right-description p {
    max-width: 80%;
    margin: 0 auto 10px auto;
    color: #7F8C8D;
}

/*
Customers Page
==================
*/

.our-costumers .main-title {
    margin-bottom: 0;
}

.our-customers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 80px;
}

.customers-info p {
    color: #7F8C8D;
    margin-top: 3px;
    font-size: 15px;
}

.customer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.customers-info .customer-name {
    color: #515A5A;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.customer-image {
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

.customer-image img {
    max-width: 100%;
    border-radius: 10px;
}

.customers-info {
    text-align: left;
}

/*
Security Page
==================
*/

.security-section .main-title {
    margin-bottom: 28px;
}

.security-section .description-item {
    max-width: 50%;
    margin: auto;
}

.security-banner {
    background-image: url("../Images/fiek.png");
}

.security-list {
    padding: 0;
}

.security-list p {
    color: #7F8C8D;
    margin-top: 3px;
    font-size: 15px;
}

.security-list li {
    list-style: none;
    text-align: left;
    position: relative;
    background-color: #fff;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.security-list li:hover h4 {
    color: #003d17;
}

.security-list {
    margin-top: 50px;
}

.security-list h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.security-list li:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:#003d17;
    border-radius: 100%;
    top: 14px;
    position: absolute;
    left: 12px;
}

/*
News Page
==================
*/

.our-news .main-title {
    margin-bottom: 0;
}

.our-news .news-description {
    margin-bottom: 40px;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.news-list article {
    position: relative;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 10px;
}

.news-list article:hover {
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.news-list article:hover .article-name {
    color: #003d17;
}

.article-content {
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 6px;
}

.article-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
    transition: all .2s ease-in-out;
}

.news-banner {
    background-image: url("../Images/fiek.png");
}

article .published-date {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    color: lightgrey;
}

article .by {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: grey;
    margin-bottom: 0;
}

article .article-desc {
    font-size: 14px;
    color: #7F8C8D;
    margin-top: 8px;
    margin-bottom: 0;
}

.news-list article a {
    text-decoration: none;
    color: #424949;
}

.news-list article img {
    max-width: 100%;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    backface-visibility: hidden;
}

.article-image {
    overflow: hidden;
    border-radius: 10px;
}

.news-list article:hover img {
    transform: scale(1.06);
}

.imgborder {
    border: 1px solid #666666;
    padding: 5px;
}

.imgborder:hover {
    transform: scale(1.1);
}

.readmore {
    background-color: transparent;
    color:  #800000;
    display: flex;
    justify-content: flex-end;
}

.quick a {
    background-color: transparent;
    color: #003d17;
}

.viza {
    border-color: #F08080;
}

.e1 {
    display: flex;
    color: #FF0000;
}

.m1 {
    display: flex;
}

.par {
    width: 50%;
    color: black;
}

.img {
    margin-left: 200px;
}